{% extends 'base.html' %}

{% block title %}人脸比对系统{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <video id="video" width="500px" height="500px" autoplay="autoplay"></video>
        </div>
        <div class="col">
            <canvas id="canvas" width="500px" height="500px"></canvas>
        </div>
    </div>


    <div class="d-none">
        <button id="close" onclick="getMedia()">开启摄像头</button>
        <button id="close" onclick="closeMedia()">关闭摄像头</button>
        <button id="start" onclick="start()">开始签到</button>
    </div>

    <h1 class="my-4">
        <span class="text-muted" id="rec_result_status">NULL</span>
        <span class="text-danger" id="rec_result_name">NULL</span>
        <span class="text-danger" id="rec_result_score">0.00%</span>
    </h1>
{% endblock %}

{% block footer %}
    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
{% endblock %}